# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* listing some popular lanuages
* listing some librairies
* making some aritmetic calculation

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. java-script

### Some of the commonly used libraries used by Data Scientists include
1. tidyverse
2. ggplot2
3. caret

| Data Science Tools | 
|--------------------|
|     python         | 
|        R           |
|      appache       |
|      tableau       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [25]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [43]:
mins=200;
hours=mins/60
print(hours) #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author: 
Rabih Ajjoub